/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux";
    color: #627e4a;

}

body {
    background-image: url('trial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.6;
    margin: auto;
}

.description {
    text-align: left;
    font-size: 18px;
    margin-bottom: -30px;
}


.container {
    padding-top:0px;
    max-width: 850px;
    margin: 150px auto;
    padding: 20px;    
}

h1 {
    color: #bc5e2e;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: 5.5rem;
}

h2 {
    color: #627e4a;
    font-weight: bold;
    font-size: 2rem;
    text-align: right;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;

}


/* Form Styles */
.section {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #627e4a;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


/* Buttons */
.button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    color: #bc5e2e;
    border: 1.5px solid #bc5e2e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    min-width: 150px;

}

.btn:hover {
    background-color: #bc5e2e;
    color: #ffefd2;
}



/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 10px;
    }
    
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    
    .btn {
        width: 100%;
    }
    
    .attendance-checkboxes {
        grid-template-columns: 1fr;
    }
}

